@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171d29;
  --primary: #f2642e;
  --primary-hover: #d94e1b;
  --accent: #fdf5f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer components {
  .btn-primary {
    @apply bg-[var(--primary)] text-white px-6 py-3 rounded-2xl font-black italic uppercase tracking-tighter transition-all hover:bg-[var(--primary-hover)] active:scale-95 shadow-lg shadow-orange-700/20;
  }
}

/* Custom transitions */
.page-transition {
  animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}